<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sirius_new -->
      <package
            uri="http://www.example.org/sirius_new"
            class="sirius_new.Sirius_newPackage"
            genModel="model/sirius_new.genmodel"/>
   </extension>

</plugin>
